*{
    margin: 0;
    font-family: "Poppins", sans-serif;
}
h1,p{
    color: rgba(45,0,108,1);
}
body{
    background: linear-gradient(to right,rgba(146,70,253,1), rgba(206,190,228,1));
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.word{
    text-align: center;
    margin-top: 10vh;
}

.img{
    display: flex;
    justify-content: center;
}